html {
  margin: 0;
  padding: 0;
}

body{
  background-color: black;
  margin:100px auto 0 auto;
  width:80%;
  text-align:center;
}

font-family: 'Montserrat', sans-serif; 'Roboto', sans-serif;
canvas {
  display: block;
}

h1 {
    font-size: 35px;
    font-family:'Roboto', 'sans-serif';
background: linear-gradient(80deg, rgba(34,193,195,1) 0%, rgba(253,45,220,1) 50%, rgba(253,226,45,1) 89%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
    linear-gradient(to right, #FDFBFB, #EBEDEE 70%);
    text-align: center;
}

div.a {
  font-size: 14px;
  font-family:'Montserrat', 'sans-serif';
  background: linear-gradient(40deg, rgba(34,193,195,1) 0%, rgba(253,45,220,1) 50%, rgba(253,226,45,1) 89%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  text-align: center;
}

canvas{
  margin:100px auto 0 auto;
  display: block;
  border-style: dotted;
  background: linear-gradient(40deg, rgba(34,193,195,1) 0%, rgba(253,45,220,1) 50%, rgba(253,226,45,1) 89%);
  color:black;
  border-width: 2px;
  border-radius: 5px;
}




</div>
