html {
  margin: 0;
  padding: 0;
}

body{
  background-color: black;
  margin:100px auto 0 auto;
  width:80%;
  text-align:center;
}

font-family: 'Source Sans Pro', sans-serif;
canvas {
  display: block;
}

h1 {
    font-family:'Source Sans Pro';
    color:white;
    text-align: center;
}

h1 {
    font-family:'sans-serif';
    color:white;
    text-align: center;
}

div.a {
  font-family:'sans-serif';
  color:white;
  text-align: center;
}

canvas{
  margin:100px auto 0 auto;
  display: block;
  border-style: dotted;
  color:white;
  border-width: 2px;
  border-radius: 5px;
}




</div>
